.textcenter {
	text-align:center;
}
body {
 margin:0; 
 padding:0; 
 height:100%; 
 width: 100%;
}
header {  
    background-image: linear-gradient(to right, #d4ff62, #ddf993);  
    font-size: 28px;  
    color: #202225;  
    height: 60px;  
    line-height: 60px;  
    background-size: 100% 100%;
}
h2{
    color: #202225;
    font-weight: normal;
}

textarea{
    width: 96%;
    height: 30vh;
    border-radius: 10px;
    border: 2px solid #202225; 
    margin: 0 5px;
}  
  

.mian {  
  display: flex;  
  flex-direction: column;  
}  
  
.left, .right {  
  flex: 1;  
  margin: 0 3% 3% 3%;  
}  
  
@media (min-width: 801px) {  
  .mian {  
    flex-direction: row;  
  }  
  .input textarea {
     width: 80%;
  }
  
}


.button{
    background: #ddf993;
    color: #202225;
    cursor: pointer;
    width: 70px;
    height: 25px;
    font-size: 14px;
    border-radius: 10px;
    border: transparent;
    outline: none;
    margin: 5px 0;
}


.button:HOVER {
	background: #ffe60f;
	color: #202225;
}

.customButton{
    margin: 0 5px;
}


.input {
    border: 2px solid #202225; 
    width: 96%;
    height: 25px;
    border-radius: 10px;
    display:block;
    margin: 5px;
}


.qrcode-border {  
	border: 2px solid #202225; 
	padding: 15px; 
	border-radius: 10px; 
	width: 256px;
	margin: 5px;
}  
